<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
		<a class="navbar-brand" href="">ACCESSible IT  &nbsp;&nbsp;@@<sup>IT</sup></a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
			<i class="bi bi-list"></i>

        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="database">
				<span style="font-size:1.25em"><i class="bi bi-database"></i>Database</span>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="emailpicker">
				<span style="font-size:1.25em"><i class="bi bi-envelope"></i>Email Picker</span>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="validation">
				<span style="font-size:1.25em"><i class="bi bi-card-checklist"></i>Validation</span>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="azuremaps">
				<span style="font-size:1.25em;"><i class="bi bi-compass"></i>Azure Maps</span>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="charting">
				<span style="font-size:1.25em"><i class="bi bi-graph-up-arrow"></i>Charting</span>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="planning">
				<span style="font-size:1.25em"><i class="bi bi-people"></i>Planning</span>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="specification">
				<span style="font-size:1.25em"><i class="bi bi-files"></i>Specification</span>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="aboutus">
				<span style="font-size:1.25em"<i class="bi bi-info-circle"></i>About Us</span>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="contactus">
				<span style="font-size:1.25em"><i class="bi bi-phone"></i>Contact Us</span>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="privacy">
				<span style="font-size:1.25em"><i class="bi bi-shield-lock"></i>Privacy</span>
			</NavLink>
		</div>
		<!--TODO Hide on publication-->
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="test">
				<span style="font-size:1.25em"><i class="bi bi-emoji-smile"></i>Test</span>
			</NavLink>
		</div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
