@page "/aboutUs"
<div class="container-fluid p-0 m-0">
	<div class="row">
		<h2>
			<string>About Us</string>
		</h2>
	</div>
	<div class="row mt-2">
		<h4>
			Our systems support clients in central and local government, the engineering
			and automotive industries as well as commerce and the charitable sector.
		</h4>
		<h4>
			Our clients are based in Coventry, Warwickshire, West Midlands, Nottinghamshire,
			Leicestershire, Northamptonshire, Devon and London.
		</h4>
	</div>
	<div class="row mt-4">
		<h3>
			Web Databases
		</h3>
		<h4>
			We have the capability to build state-of-the-art Azure SQL or Cosmos DB databases using a browser as the interface.
			These databases are fully secured using Microsoft Entra.  Communication across the web uses the latest encryption
			technology and data is stored in an encrypted state.
		</h4>
		<h4>
			You will be able to work wherever there is an internet connection
			and Microsoft takes care of licensing, updates, backups air-conditioning and pretty much everything else.
			The free version of Power BI for is used for reporting.
		</h4>
		<div class="row mt-4">
			<h3>
				Microsoft Access databases using Visual Basic for Applications (VBA)
			</h3>
		</div>
		<div class="row">
			<h4>
				We have extensive experiance building and maintaining Access databases.  Our oldest customer has been using the datbase we built 30 years ago for a 24x7 metal finishing busines.
			</h4>
			<h4>
				Microsoft Access has superperb reporting functionality and despite being a product introduced in 1991 it is still going strong.
				Development time for this tool is much faster than the web equivalents.
			</h4>
		</div>
		<div class="row mt-4">
			<h3>
				Confidentiality and Data Protection
			</h3>
		</div>
		<div class="row">
			<h4>
				Prior to commencing any work we issue a written and signed Non-Disclosure Agreement.
				Your data will be stored on a computer that is…...
			</h4>
			<div class="col-sm-12 p-2">
				<ol style="font-size:1.5em">
					<li>Protected by a strong password</li>
					<li>Behind a hardware firewall</li>
					<li>Protected by an up-to-date virus checker - <a href="https://www.malwarebytes.com/">Malwarebytes</a></li>
					<li>In premises protected by a modern alarm system</li>
					<li>In premises protected by a modern video system</li>
				</ol>
			</div>
		</div>
		<div class="row mt-4">
			<h3>Company Registration</h3>
		</div>
		<div class="row">
			<h4>
				We are a limited liability company registered in England in 1994; reference number 3225322
			</h4>
		</div>

		<div class="row mt-4">
			<h3>Trade Mark</h3>
		</div>
		<div class="row">
			<h4>@@<sup>it</sup></h4>
		</div>
		<div class="row mt-4">
			<h3>VAT Registration</h3>
		</div>
		<div class="row">
			<h4>
				Our VAT registration number is: 670 3788 14
			</h4>
		</div>
		<div class="row mt-4">
			<h3>Acknowledgements</h3>
		</div>
		<div class="row mb-4">
			<h4>
				We are grateful for the generosity of the following people and companies who freely provided resources and examples as follows...
			</h4>
			<div class="col-sm-12 p-2">
					<ol style="font-size:1.5em">
					<li>
						<a href="http://twitter.github.io/bootstrap/">
							Twitter Bootstrap
						</a> for the style templates and some of the icons
					</li>
					<li>
						Icons from <a href="https://fontawesome.com/">
							Font Awesome
						</a>
					</li>
					<li>
						Photographs from the <a href="https://news.microsoft.com/imagegallery/">Microsoft Image Gallery</a>
					</li>
					<li>
						CugeDe for the <a href="http://www.regexlib.com/REDetails.aspx?regexp_id=527">REGEX</a> code to validate an NI number
					</li>
					<li>
						Microsoft <a href="https://www.microsoft.com/en-us/maps">Bing Maps</a> for the mapping page
					</li>
					<li>
						<a href="https://www.chartjs.org/samples/latest/">Chart JS</a> for the charting package
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>


@code {

}

