@page "/contactus"
<h2>Contact Us</h2>

<h4>Raymond B Starkey BSc(Hons), MSc, MPhil</h4>
<div class="row mt-4">
	<h3>Phone</h3>
	<h5>
		<a href="tel:+07305556742">0730 555 6742</a>
	</h5>
</div>

<div class="row mt-4">
	<h3>Email</h3>
	<h5>
		<a href="mailto:rs@accessibleit.co.uk">rs@accessibleit.co.uk</a>
	</h5>
</div>

<div class="row mt-4">
	<h3>Address and Registered Office</h3>
	<h5>
		9 Rees Drive<br />
		Coventry<br />
		West Midlands<br />
		CV3 6QF
	</h5>
</div>
<div class="row mt-4">
	<h3>
		Support and Training
	</h3>
	<h5>
		We make entensive use of Teams.  From time to time we use TeamViewer, QuickAssist, or Any Desk.
	</h5>
</div>

@code {

}
