@page "/planning"
@inject Microsoft.AspNetCore.Components.NavigationManager NavMan
<div class="container-fluid p-0 m-0">

	<div class="row row-header w-100 d-inline-flex" style="background-color:navy">
		<div class="col-sm-1">
			<i class="bi bi-house-door" style="font-size: 2rem; color: white" data-toggle="tooltip" data-placement="bottom" title="Home" @onclick="HomeClick"></i>
		</div>
		<div class="col-sm-10 d-flex justify-content-center mt-2" style="color:white">
			<h3>Planning</h3>
		</div>
		<div class="col-sm-1 d-flex justify-content-end">
			<button class="btn-link" style="background-color:transparent;border-color:transparent">
				<i class="bi bi-info-circle m-0 p-0" style="font-size: 2rem; color: white;"></i>
			</button>
		</div>
	</div>
	<div class="row w-auto d-inline-flex p-2">
		<h4>Anyone considering a new database project might like to ask themselves the following questions...</h4>
	</div>
	<div>
	</div>
	<div style="background-color:Gainsboro ; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Feasibility Study</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>What are the objectives of the new system?</li>
		<li>Who takes the blame if the system does not deliver measurable business benefits? </li>
		<li>How much money actually exists in the budget for this development? </li>
		<li>Who holds the budget? </li>
		<li>Will the project make the organisation more efficient or more effective? </li>
		<li>How does the proposed system fit with the information strategy? </li>
		<li>How long will the various stages take? </li>
		<li>Who will do what? </li>
		<li>Is there an off-the-shelf alternative? </li>
		<li>Will the staff have enough time to sit and explain how the system works? </li>
		<li>Is there someone who can write down ALL the rules for transforming the data? </li>
		<li>Who will write and approve the help screens?</li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Resources</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>Do we have the hardware and software to meet our aspirations? </li>
		<li>Do we have enough expertise? </li>
		<li>Do we have all the additional equipment necessary to do the job? </li>
		<li>Has the IT Department told you that there are imminent changes to your soft and hardware? </li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Politics</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>Who gains power and who loses it from this development? </li>
		<li>Does the project have top management approval and support?</li>
		<li>Has the IT Manager and the Network Manager been informed of your plans?</li>
		<li>Who holds the budget?</li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Data Protection</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>Will the system hold data about a living individual? </li>
		<li>Which folders are actually backed up at night? </li>
		<li>Will we hold a copy of the database off site? </li>
		<li>Who will add and remove users and set their permissions?</li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Physical Protection</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>How will we stop equipment or data theft? </li>
		<li>Do we need a disaster contingency plan? </li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Staffing</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>Who will be on the project team and who will do their work whilst they are on it? </li>
		<li>Who will be responsible for database administration after the implementation date? </li>
		<li>Will we need a help desk? </li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Staff Associations</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>How will the project affect existing jobs? </li>
		<li>How will the new idea be introduced into the organisation? </li>
		<li>Should we have a publicity policy? </li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Project Boards/Committees/Steering Groups/Supervision</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>How will we make the development team accountable to the organisation’s needs? </li>
		<li>At what point will the design be frozen? </li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Standards</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>What standards will we use to design and deliver the system? </li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Training</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>What are the training needs and costs? </li>
		<li>Who will write AND maintain any procedure manuals? </li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Auditing</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>What input to the design do the Auditors want? </li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Health and Safety</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>Have we got the right chairs, blinds and tables? </li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>System Performance</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>What response times do we want? </li>
		<li>How should the test data be designed? </li>
		<li>Will we try parallel running during the implementation period? </li>
		<li>Is our network up to it? </li>
	</ol>
	<div style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>Contingencies</h3>
	</div>
	<ol style="font-size:1.5em">
		<li>What are the cost implications if the project overruns? </li>
		<li>If key staff leave or become ill, or better still, win the lottery what happens?</li>
		<li>A JCB has just chopped through our data cable, what do we do now?</li>
		<li>John DOA has just lost his mobile which he uses to access the system, what do we do now?</li>
	</ol>
	<div class="row my-2" style="background-color:Gainsboro; padding-left:0.5em;padding-top:0.5em; padding-bottom:0.02em">
		<h3>What Next?</h3>
	</div>
	<h4>
		<button class="btn btn-sm  btn-link" @onclick=NavToSpecification><h4>Click here</h4></button>
		to learn about how a specification is created using teamwork, brainstorming and lateral thinking.
	</h4>

</div>
@code {
	void HomeClick()
	{
		NavMan.NavigateTo("/");
	}
	void NavToSpecification()
	{
		NavMan.NavigateTo($"/specification");
	}
}
